scikit-learn 
pandas 
numpy 
statsmodels 
matplotlib 
cvxpy 
scipy 
seaborn
holidays
joblib # Per l'esecuzione in parallelo di task con la cpu
cuml
GPUtil # Per verificare se la GPU in uso è una NVIDIA o meno